<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">

          <h5 class="card-title">Artists</h5>
          <p>
            <strong>Name</strong>: {{artist.artist_name}}
          </p>
          <p>
            <strong>Genre</strong>: {{artist.genre}}
          </p>
          <p>
            <strong>About</strong>: {{artist.about}}
          </p>
          <p>
            <strong>Soundcloud</strong>: {{artist.soundcloud_link}}
          </p>
          <p>
            <strong>Bandcamp</strong>: {{artist.bandcamp_link}}
          </p>
          <p>
            <strong>Youtube</strong>: {{artist.yt_link}}
          </p>
          <p>
            <strong>Facebook</strong>: {{artist.fb_link}}
          </p>
          <p>
            <strong>Twitter</strong>: {{artist.twitter_link}}
          </p>
          <p>
            <strong>Instagram</strong>: {{artist.insta_link}}
          </p>

            <a href="/">â† Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>