<div class="container justify-content-center p-4">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card my-5 p-3">
        <div class="card-body">

          <h5 class="card-title">{{data.event_data.title}}</h5>
          {{!-- <p>
            <strong>ID</strong>: {{data.event_data.id}}
          </p> --}}
          <p>
            <strong>Location</strong>: {{data.event_data.street_address}} {{data.event_data.city}}, {{data.event_data.state}}
          </p>
          <p>
            <strong>Genre</strong>: {{data.event_data.genre}}
          </p>
          <p>
            <strong>Description</strong> {{data.event_data.description}}
          </p>

          {{#each data.artist_data}}
            <div>
              <p>
                <a class="artist-link" data-artist-id="{{this.id}}" href="#">{{this.artist_name}}</a>
              </p>
            </div>
          {{/each}}

          <br>
          <br>
          <p>
            <a href="/events/{{data.event_data.id}}/new_artist">+ Apply For Event</a>
          </p>
          <p>
            <a href="/">← Back To Home</a>
          </p>
        </div>
      </div>
    </div>
  </div>
<div class="container">
  <div id="map"></div>
</div>
  

  <!-- Modal -->
  <div class="modal fade" id="artist-modal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="artist-name"></h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <p id="artist-genre"></p>
          <p id="artist-about"></p>
          <p id="artist-soundcloud"></p>
          <p id="artist-bandcamp"></p>
          <p id="artist-yt"></p>
          <p id="artist-fb"></p>
          <p id="aritst-insta"></p>
          <p id="artist-twitter"></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
</div>


<script src="/js/event.js"></script>
{{!-- Google Maps API --}}

<script>
    var db = require("../models");
    $("#map").hide();
        var geocoder;
        var map;
function initialize() {
    
    geocoder = new google.maps.Geocoder();
    var latlng = new google.maps.LatLng(-34.397, 150.644);
    var mapOptions = {
            zoom: 12,
            center: latlng
        }
    map = new google.maps.Map(document.getElementById('map'), mapOptions);
}

function codeAddress() {
    $("#map").show();
    var address = document.getElementById('address').value;
    geocoder.geocode( { 'address': address}, function(results, status) {

      if (status == 'OK') {

        console.log(results)

        map.setCenter(results[0].geometry.location);
        var marker = new google.maps.Marker({
            map: map,
            position: results[0].geometry.location
        });

      } else {
        alert('Geocode was not successful for the following reason: ' + status);
      }
    });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAbhUtgWsIXNS2XoeUSft7JtluN8WVhNOI&callback=initMap" async defer>
        module.exports = index;
</script>