<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Events</h5>
          <p>
            <strong>ID</strong>: {{musEvent.id}}
          </p>
          <p>
            <strong>Title</strong>: {{musEvent.title}}
          </p>
          <p>
            <strong>Location</strong>: {{musEvent.location}}
          </p>
          <p>
            <strong>Genre</strong>: {{musEvent.genre}}
          </p>
          <p>
            <strong>Description:</strong> {{musEvent.description}}
          </p>
            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
