<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">

          <h5 class="card-title">{{data.event_data.title}}</h5>
          <p>
            <strong>ID</strong>: {{data.event_data.id}}
          </p>
          <p>
            <strong>Location</strong>: {{data.event_data.location}}
          </p>
          <p>
            <strong>Genre</strong>: {{data.event_data.genre}}
          </p>
          <p>
            <strong>Description:</strong> {{data.event_data.description}}
          </p>

          {{#each data.artist_data}}
            <div>
              <p>
                <a href="/artist/{{this.id}}">{{this.artist_name}}</a>
              </p>
            </div>
          {{/each}}

          <br>
          <br>
          <p>
            <a href="/events/{{data.event_data.id}}/new_artist">+ Join Event</a>
          </p>
          <p>
            <a href="/">â† Back To Home</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
