<div id="home">
  <div class="container my-5 mx-auto">    
    <div class="row justify-content-center">
      <div class="col-8 offset-0">
        {{!-- The start of where the events will be added on the landing page --}}
        <h4 id="upcoming-events">Upcoming Events:</h4>

        <ul id="event-list" class="list-group">

          {{!-- For each event, add it to the list on the "/" route under Upcoming Events--}}
          {{#each events}}

          <li data-id="{{this.id}}" class="list-group-item mb-5">

            {{!-- Links to the "/event/:id" route for the specific event referenced in the database --}}

            <a href="events/{{this.id}}" style="color: Orange; font-size: 30px">{{this.title}}</a>
            <hr>
            <p>Genre: {{this.genre}}</p>
            <p>Location: </p>
            <p id="address">{{this.street_address}} {{this.city}}, {{this.state}}</p>
            <p>Date: {{this.date}}</p>
            <hr>
            <button class="btn btn-danger float-right delete text-center" style="max-width: 50px; background-color: orange; Border: none">ｘ</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>
        
<script src="/js/index.js"></script>


</body>