<div id="home">
  <div class="container mt-5">    
    <div class="row">
      <div class="col-8 offset-2">
        {{!-- The start of where the events will be added on the landing page --}}
        <h3>Upcoming Events:</h3>

        <p>{{msg}}</p>
        <ul id="event-list" class="list-group">

          {{!-- For each event, add it to the list on the "/" route under Upcoming Events--}}
          {{#each events}}

          <li data-id="{{this.id}}" class="list-group-item">

            {{!-- Links to the "/event/:id" route for the specific event referenced in the database --}}
            <a href="event/{{this.id}}">{{this.title}}</a>
            <p>Genre: {{this.genre}}</p>
            <p>Location: {{this.location}}</p>
            <p>Date: {{this.date}}</p>
            <button class="btn btn-danger float-right delete text-center" style="max-width: 50px">ｘ</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
